<h1>Welcome to the test site</h1>
<p>Learning about Ruby on Rails</p>

<%= link_to "See bikes", welcome_bikes_path %>
<%= link_to "See gear", welcome_gear_path %>
<%= link_to "See services", welcome_services_path %>